@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 13% 19%;
    --input-background: #00000014;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --input-valid: #60b04c;
    --input-invalid: #eb3d34;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 222 13% 19%;
    --primary-foreground: 210 20% 98%;

    --secondary: 108 40% 49%;
    --secondary-foreground: 210 20% 98%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 222 13% 19%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 3 82% 56%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 222 13% 19%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.vodo-rc-icon-trigger {
  @apply relative z-10 grid place-content-center after:-z-10 after:rounded-lg after:left-1/2 after:top-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0 after:h-0 after:absolute after:transition-all;
}

.vodo-rc-sidebar-acitve {
  @apply after:bg-destructive after:!w-full after:!h-full;
}
.vodo-rc-sidebar-acitve span {
  @apply text-white;
}
.vodo-rc-sidebar-acitve svg,
.vodo-rc-sidebar-acitve path {
  @apply !stroke-white;
}
.vodo-rc-aside > button path {
  stroke: #2b2f3880;
}

.vodo-rc-custom_hight {
  min-width: 100px;

  min-height: 69px !important;
  width: 100%;
}

.vodo-rc-poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vodo-rc-poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.vodo-rc-option-Page2 {
  @apply text-center   border p-2 hover:bg-[#F4F3F3] rounded-md;
}
.vodo-rc-option-Page1 {
  @apply p-2 text-left border-b md:w-full;
}

.vodo-rc-read > span {
  @apply hidden;
}
